<!--muestra la lista de comics-->
<div class="card animated fadeIn fast" *ngFor="let comic of listaComics">
    <div class="card-body">
        <h5 class="card-title">{{ comic | json }}</h5>
    </div>
</div>

<hr>
<!--eliminar un comic cuando se oprima el boton-->
<div>
    <button class="btn btn-primary" (click)="eliminarComic(3)" [disabled]="listaComics.length <= 3">Eliminar un comic</button>
    <div *ngIf="listaComics.length > 0">
        <div class="card-body">
            <h5 class="card-title">Se ha eliminado el comic {{comicEliminado}}</h5>
        </div>
    </div>
</div>